#login-container{
    height: 90vh;    
}

.card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    padding:20px 40px 20px 40px !important;
    margin-top: 15% !important;
    border-radius: 2rem !important;
    width: 50% !important;
}